<h3>Student Form</h3>

<%= form_tag student_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :first_name %><br>

  <label>Last Name:</label><br>
   <%= text_field_tag :last_name %><br>
 
  <label>Post description:</label><br>
  <%= text_area_tag :'post[description]' %><br>
 
  <%= submit_tag "Submit Student" %>
<% end %>